@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,700&family=Raleway:wght@100;400;700&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

#app {
    min-height: 100%;
    position: relative;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

/***************
Start Game Block
****************/
.start-game {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

}

.black-block-for-start-window {
    margin-top: 450px;
    width: 900px;
    height: 285px;
    background: black;
    position: relative;
    z-index: 9999;
}

.start-game img {
    width: 1100px;
    height: 750px;
    background-size: contain;
    position: absolute;
    display: block;
    margin: 50px;
    z-index: 9999;
}


.start-game button {
    appearance: none;
    width: 280px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: -.24px;
    outline: none;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    display: block;
    position: absolute;
    left: calc(50% - 140px);
    margin-top: 80px;
    font-family: 'VT323', monospace;
    
    z-index: 9999;
    }
    
    .start-game button:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
    }
    
    .start-game button:active {
    transform: scale(1.025);
    }
    
    @media (min-width: 768px) {
        .start-game button {
        font-size: 35px;
        padding: .75rem 2rem;
    }
    }

/************
Game Elements
*************/

#game-elements img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
*******
*TARGET
*******
*/
    
.target {
    background-image: url(images/target.png);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
    transition: all 0.1s ease-out;
    position: absolute;
    top: 300px;
    left: calc(50% - 100px);
}

/******
Helpers
*******/
.hidden {
    display: none;
}
/*****
Ducks
*****/
.duck {
    width: 150px;
    height: 150px;
    background-size: contain;
    position: absolute;
    top: 570px;
    /* left: calc(50% - 75px); */
    transition: all 0.1s ease-out;
    z-index: 9999;
}
.duck.skin-1 {
    background-image: url(images/blueDuck1.png);
}
.duck.skin-2 {
    background-image: url(images/greenDuck1-right.png);
    background-repeat: no-repeat;
}
.duck.skin-3 {
    background-image: url(images/redDuck1-left.png);
    background-repeat: no-repeat;
}
.duck.skin-1.boom {
    background-image: url(images/blueDuckShot.png);
    background-position: center;
    background-repeat: no-repeat;
}
.duck.skin-2.boom {
    background-image: url(images/greenDuckShot.png);
    background-position: center;
    background-repeat: no-repeat;
}
.duck.skin-3.boom {
    background-image: url(images/redDuckShot.png);
    background-position: center;
    background-repeat: no-repeat;
}
.dog {
    background-image: url(images/dogWalk1.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    background-size: contain;
    position: relative;
    top: 550px;
    left: 30px;
    transition: all 0.1s ease-out;
    z-index: 9999;
}

/*******
Menu
*******/
.sound svg {
    display: flex;
    position: relative;
    z-index: 19999;
    width: 50px;
    height: 50px;
    fill: #fff;
    margin: 5px 5px;
    }
    .sound {
    cursor: pointer;
    }

.scoreContent {
    width: fit-content;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    padding: 2px 2px;
    margin: 0 10px;
    border-color: #16ec33;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-style: solid;
    padding: 3px;
    border-width: 4px;
}
.scoreText {
    font-size: 40px;
    color: hsl(0, 0%, 99%);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'VT323';
    font-weight: bold;
}
.scoreNumber {
    color: hsl(0, 0%, 99%);
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'VT323';
}
.menu {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    z-index: 19999;
    justify-content: space-between;
    top: 810px;
    left: 0px;
    width: 100%;
    height: 100px;
    flex-direction: row;
}
.roundContent {
    width:fit-content;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    padding: 2px 0px;
    margin: 0 5px;
    top: 750px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    height: fit-content;
    
}
.roundText {
    font-size: 40px;
    color: #16ec33;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'VT323';
    font-weight: bold;
}
.roundNumber {
    color: #16ec33;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'VT323';
}
.shotContent {
    width: fit-content;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    margin: 0;
    border-color: #16ec33;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    justify-content: space-evenly;
}
.bullets {
    padding-top: 4px !important;
    display: flex;
    justify-content: center;
}
.bullets svg{
    width: 48px;
    height: 48px;
    fill: #fff;
    background-size: contain;
    justify-content: space-around;
    display: flex;
    padding: 2px 2px;
}
.shotText {
    font-size: 40px;
    color: #2eddd7;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'VT323';
    font-weight: bold;
}
.hitContent {
    width: fit-content;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    margin: 0;
    border-color: #16ec33;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    justify-content: flex-start;
}
.hitDucks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
}
.hitText {
    font-size: 40px;
    color: #16ec33;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'VT323';
    font-weight: bold;
}
.hitDucks svg {
    width: 30px;
    height: 30px;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    padding: 2px 2px;
}
.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(332deg) brightness(103%) contrast(102%);
}
.filter-red {
    filter: invert(43%) sepia(96%) saturate(7129%) hue-rotate(7deg) brightness(99%) contrast(101%);
}
.filter-blue  {
    filter: invert(80%) sepia(82%) saturate(802%) hue-rotate(134deg) brightness(91%) contrast(88%);
}
.blueLines svg {
    width: 20px;
    height: 20px;
    background-size: contain;
    display: flex;
    justify-content: center;

}
.blueLines {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

